table {
    border-collapse: collapse;
    width: 500px;
}

table, th, td {
    border: 1px solid black;
  }

td{
    width: 50%;      
}
#first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    border: solid rgb(70, 113, 194) 2px;
}
#first input{
    
    height: 20px;
}
#first button{
    width: 80px;
    height: 30px;
    border: solid;
    border-radius: 5px;
    font-size: 20px;
}
#first button:hover{
    cursor: pointer;
}
#divBtn{
    width: 40vw;
    margin-top: 20px;
    margin-bottom: 20px;
}


